## QUESTION 1

Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [2]:
#importing libraries
import pandas as pd
import numpy as np
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings('ignore')

In [5]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(4)

url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(6)

In [6]:
search_job=driver.find_element_by_xpath("//a[@class='external text']")
search_job

In [7]:
# creating empty lists for scraping data
Rank=[]
Name=[] 
Artist=[]
Upload_date=[]
Views=[]

In [8]:
dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in dt:
    if d.text is None :
        Rank.append('-')
    else:
        Rank.append(d.text)

In [9]:
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '"Baby Shark Dance"[23]',
 '"Despacito"[25]',
 '"See You Again"[28]',
 '"Gangnam Style"⁂[36]',
 '"Baby"*[58]',
 '"Bad Romance"[62]',
 '"Charlie Bit My Finger"‡[66]',
 '"Evolution of Dance"[68]',
 '"Girlfriend"‡[70][71]',
 '"Evolution of Dance"[68]',
 '"Music Is My Hot Hot Sex"‡[74]',
 '"Evolution of Dance"*[68]',
 '"Pokemon Theme Music Video"‡[79]',
 '"Myspace – The Movie"‡[83][84]',
 '"Phony Photo Booth"‡[86]',
 '"The Chronic of Narnia Rap"‡[88]',
 '"Ronaldinho: Touch of Gold"‡*[90]',
 '"I/O Brush"‡*[93]',
 '"Me at the zoo"[95]']

In [10]:
#Vedio name

dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in dt:
    if d.text is None :
        Name.append('-')
    else:
        Name.append(d.text)

In [11]:
#Artist Nmae

dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in dt:
    if d.text is None :
        Artist.append('-')
    else:
        Artist.append(d.text)

In [12]:
#upload date

dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in dt:
    if d.text is None :
        Upload_date.append('-')
    else:
        Upload_date.append(d.text)

In [13]:
# Views

dt = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in dt:
    if d.text is None :
        Views.append('-')
    else:
        Views.append(d.text)

In [14]:
import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank[:30]
table['Name']=Name[:30]
table['Artist']=Artist[:30]
table['Upload Date']=Upload_date[:30]
table['Views']=Views[:30]

table

,Rank,Name,Artist,Upload Date,Views
0,1,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","9,453,134,982"
1,2,"""Despacito""[25]",Luis Fonsi,"January 12, 2017","7,572,747,360"
2,3,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016","5,781,348,353"
3,4,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017","5,483,427,541"
4,5,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015","5,284,905,560"
5,6,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018","4,549,294,432"
6,7,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018","4,513,879,675 (as of Sep 29, 2021)"
7,8,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012","4,461,096,975"
8,9,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014","4,319,159,452"
9,10,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014","4,220,180,419"
10,11,"""Gangnam Style""[36]",Psy,"July 15, 2012","4,211,421,413"
11,12,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018","3,633,337,215"
12,13,"""Sugar""[39]",Maroon 5,"January 14, 2015","3,565,906,701"
13,14,"""Sorry""[40]",Justin Bieber,"October 22, 2015","3,474,094,697"
14,15,"""Roar""[41]",Katy Perry,"September 5, 2013","3,444,786,615"
15,16,"""Counting Stars""[42]",OneRepublic,"May 31, 2013","3,412,577,920"
16,17,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014","3,337,279,340"
17,18,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018","3,291,808,512"
18,19,"""Dark Horse""[45]",Katy Perry,"February 20, 2014","3,155,611,442"
19,20,"""Faded""[46]",Alan Walker,"December 3, 2015","3,155,489,927"
20,21,"""Girls Like You""[47]",Maroon 5,"May 31, 2018","3,143,116,042"
21,22,"""Lean On""[48]",Major Lazer,"March 22, 2015","3,105,926,931"
22,23,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014","3,105,539,316"
23,24,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014","3,104,230,107"
24,25,"""Let Her Go""[51]",Passenger,"July 25, 2012","3,090,217,295"
25,26,"""Axel F""[52]",Crazy Frog,"June 17, 2009","3,035,828,739"
26,27,"""Mi Gente""[53]",J Balvin,"June 29, 2017","2,986,493,839"
27,28,"""Perfect""[54]",Ed Sheeran,"November 9, 2017","2,974,982,274"
28,29,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010","2,962,613,841"
29,30,"""Hello""[56]",Adele,"October 23, 2015","2,889,107,727"

## QUESTION 2

Q2.Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [8]:
import pandas as pd
from bs4 import BeautifulSoup
import selenium
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException
import sys
from selenium.common import exceptions
import io
from selenium.webdriver.chrome.options import Options
import requests
import re

In [3]:
driver= webdriver.Chrome("chromedriver")

In [4]:
url='https://www.bcci.tv/'
driver.get(url)

In [11]:
menu_button=driver.find_element_by_xpath("//button[@class='navigation__sidebar-button js-navigation-sidebar-open']")
menu_button
menu_button.click()

In [13]:
international_fixtures=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']//li[@data-nav-index='0'][1]//div[2]//div//ul//li[1]//a")
international_fixtures
try:
    international_fixtures.click()
    
except ElementNotInteractableException:
    driver.get(international_fixtures.get_attribute('href'))

In [14]:
showmore_button=driver.find_element_by_xpath("//button[@class='load-more-button u-center js-show-more-button js-loader']")
showmore_button
showmore_button.click()

In [15]:
urls=[]
match_page=driver.find_elements_by_xpath("//div[@class='js-list']//a")
for i in match_page:
    urls.append(i.get_attribute('href'))

In [16]:
Match=[]
Series=[]
Place=[]
Date=[]
Time=[]
for i in urls:
    driver.get(i)
    try:
        match=driver.find_element_by_xpath("//p[@class='mc-header-info__match-description']//span")
        Match.append(match.text)
    except NoSuchElementException:
        Match.append('-')
    
    try:
        series=driver.find_element_by_xpath("//section[@class='widget widget--with-footer widget--small match-info match-info--main js-prematch-info mc-theme-pseudo']//div[1]//ul[1]//li[1]//span[2]")
        Series.append(series.text)
    except NoSuchElementException:
        Series.append('-')
        
    try:
        place=driver.find_element_by_xpath("//section[@class='widget widget--with-footer widget--small match-info match-info--main js-prematch-info mc-theme-pseudo']//div[1]//ul[1]//li[3]//span[2]")
        Place.append(place.text)
    except NoSuchElementException:
        Place.append('-')
        
    try:
        date=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']//strong")
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('-')
        
    try:
        time=driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']//span[1]")
        Time.append(time.text)
    except NoSuchElementException:
        Time.append('-')

In [18]:
len(Series)

40

In [19]:
fixtures=pd.DataFrame({})
fixtures['Matches']=Match
fixtures['Series']=Series
fixtures['Place']=Place
fixtures['Date']=Date
fixtures['Time']=Time
fixtures

,Matches,Series,Place,Date,Time
0,MATCH 16,2021 ICC Men's T20 World Cup,"Dubai International Stadium, Dubai",Sunday 24 October,19:30 IST
1,MATCH 28,2021 ICC Men's T20 World Cup,"Dubai International Stadium, Dubai",Sunday 31 October,19:30 IST
2,MATCH 33,2021 ICC Men's T20 World Cup,"Zayed Cricket Stadium, Abu Dhabi",Wednesday 3 November,19:30 IST
3,MATCH 37,2021 ICC Men's T20 World Cup,"Dubai International Stadium, Dubai",Friday 5 November,19:30 IST
4,MATCH 42,2021 ICC Men's T20 World Cup,"Dubai International Stadium, Dubai",Monday 8 November,19:30 IST
5,1ST T20I,India v New Zealand 2021,"Sawai Mansingh Stadium, Jaipur",Wednesday 17 November,19:00 IST
6,2ND T20I,India v New Zealand 2021,"JSCA International Stadium Complex, Ranchi",Friday 19 November,19:00 IST
7,3RD T20I,India v New Zealand 2021,"Eden Gardens, Kolkata",Sunday 21 November,19:00 IST
8,1ST TEST,India v New Zealand 2021,"Green Park, Kanpur",Thursday 25 November,09:30 IST
9,2ND TEST,India v New Zealand 2021,"Wankhede Stadium, Mumbai",Friday 3 December,09:30 IST
10,1ST TEST,South Africa v India 2021/2022,"New Wanderers Stadium, Johannesburg",Friday 17 December,13:30 IST
11,2ND TEST,South Africa v India 2021/2022,"Supersport Park, Centurion",Sunday 26 December,13:30 IST
12,3RD TEST,South Africa v India 2021/2022,"New Wanderers Stadium, Johannesburg",Monday 3 January,13:30 IST
13,1ST ODI,South Africa v India 2021/2022,"Boland Park, Paarl",Tuesday 11 January,14:00 IST
14,2ND ODI,South Africa v India 2021/2022,"Newlands, Cape Town",Friday 14 January,14:00 IST
15,3RD ODI,South Africa v India 2021/2022,"Newlands, Cape Town",Sunday 16 January,14:00 IST
16,1ST T20I,South Africa v India 2021/2022,"Newlands, Cape Town",Wednesday 19 January,19:30 IST
17,2ND T20I,South Africa v India 2021/2022,"Newlands, Cape Town",Friday 21 January,19:30 IST
18,3RD T20I,South Africa v India 2021/2022,"Boland Park, Paarl",Sunday 23 January,19:30 IST
19,4TH T20I,South Africa v India 2021/2022,"Boland Park, Paarl",Wednesday 26 January,19:30 IST
20,1ST ODI,India v West Indies 2022,"Narendra Modi Stadium, Ahmedabad",Sunday 6 February,13:00 IST
21,2ND ODI,India v West Indies 2022,"Sawai Mansingh Stadium, Jaipur",Wednesday 9 February,13:00 IST
22,3RD ODI,India v West Indies 2022,"Eden Gardens, Kolkata",Saturday 12 February,13:00 IST
23,1ST T20I,India v West Indies 2022,"Barabati Stadium, Cuttack",Tuesday 15 February,19:00 IST
24,2ND T20I,India v West Indies 2022,"ACA-VDCA Stadium, Visakhapatnam",Friday 18 February,19:00 IST
25,3RD T20I,India v West Indies 2022,"Greenfield Stadium, Thiruvananthapuram",Sunday 20 February,19:00 IST
26,1ST TEST,India v Sri Lanka 2022,"M.Chinnaswamy Stadium, Bangalore",Friday 25 February,09:30 IST
27,2ND TEST,India v Sri Lanka 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Saturday 5 March,09:30 IST
28,1ST T20I,India v Sri Lanka 2022,"Punjab Cricket Association Stadium, Mohali, Ch...",Sunday 13 March,19:00 IST
29,2ND T20I,India v Sri Lanka 2022,"Himachal Pradesh Cricket Association Stadium, ...",Tuesday 15 March,19:00 IST
30,3RD T20I,India v Sri Lanka 2022,Bharat Ratna Shri Atal Bihari Vajpai Ekana Cri...,Friday 18 March,19:00 IST
31,1ST T20I,India v South Africa 2022,"M. A. Chidambaram Stadium, Chennai",Thursday 9 June,19:00 IST
32,2ND T20I,India v South Africa 2022,"M.Chinnaswamy Stadium, Bangalore",Sunday 12 June,19:00 IST
33,3RD T20I,India v South Africa 2022,"Vidarbha Cricket Association Stadium, Nagpur",Tuesday 14 June,19:00 IST
34,4TH T20I,India v South Africa 2022,"Saurashtra Cricket Association Stadium, Rajkot",Friday 17 June,19:00 IST
35,5TH T20I,India v South Africa 2022,"Arun Jaitley Stadium, Delhi",Sunday 19 June,19:00 IST
36,1ST T20I,England v India 2022,"Old Trafford, Manchester",Friday 1 July,23:00 IST
37,2ND T20I,England v India 2022,"Trent Bridge, Nottingham",Sunday 3 July,19:00 IST
38,3RD T20I,England v India 2022,"The Ageas Bowl, Southampton",Wednesday 6 July,23:00 IST
39,1ST ODI,England v India 2022,"Edgbaston, Birmingham",Saturday 9 July,15:30 IST

## QUESTION 3

Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [20]:
driver= webdriver.Chrome("chromedriver")
url='https://www.guru99.com/'
driver.get(url)

In [23]:
button_2=driver.find_element_by_xpath("//div[@class='entry-content single-content']//table[5]//tr[34]//td[1]//a")
button_2.click()

In [24]:
Data=[]
Name=[]
Description=[]

table=driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td")
for i in table:
    try:
        Data.append(i.text)
    except NoSuchElementException:
        Data.append('-')

for i in range(0,len(Data),2):
    Name.append(Data[i])
for i in range(1,len(Data),2):
    Description.append(Data[i])

In [25]:
table=pd.DataFrame({})
table['Name']=Name
table['Description']=Description
table

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

## QUESTION 4

Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP at current price (19-20) D) GSDP at current price (18-19) E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.

In [18]:
import selenium
from selenium import webdriver 
import lxml
from bs4 import BeautifulSoup
import html5lib
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import TimeoutException

In [19]:
driver=webdriver.Chrome("chromedriver.exe")
url='http://statisticstimes.com/'
driver.get(url)

In [22]:

driver.get(driver.find_element_by_xpath("//div[@class='dropdown-content']/a[3]").get_attribute('href'))
driver.get(driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a[@class='ec']").get_attribute('href'))
soup = BeautifulSoup(driver.page_source,'lxml')

In [23]:
# creating empty lists for scraping data
Rank=[]
State=[]
GSDP_19_20=[]
GSDP_18_19=[]
Share=[]
GDP=[]

In [24]:
#Rank

dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[1]")
for d in dt:
    Rank.append(d.text)

In [25]:
#State

dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[2]")
for d in dt:
    State.append(d.text)

In [26]:
# GSDP 19,20

dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[3]")
for d in dt:
    GSDP_19_20.append(d.text)

In [27]:
# GSDP 18,19

dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[4]")
for d in dt:
    GSDP_18_19.append(d.text)

In [28]:
#SHARE

dt=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[5]")
for d in dt:
    Share.append(d.text)

In [29]:
#GDP

dr=driver.find_elements_by_xpath("//table[@id='table_id']/tbody/tr/td[6]")
for d in dt:
    GDP.append(d.text)

In [30]:

import pandas as pd
table=pd.DataFrame({})

table['Rank']=Rank
table['State']=State
table['GSDP_19_20']=GSDP_19_20
table['GSDP_18_19']=GSDP_18_19
table['Share']=Share
table['GDP']=GDP


table

   Rank                      State GSDP_19_20 GSDP_18_19   Share     GDP
0     1                Maharashtra          -  2,632,792  13.94%  13.94%
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%   8.63%
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%   8.39%
3     4                    Gujarat          -  1,502,899   7.96%   7.96%
4     5                  Karnataka  1,631,977  1,493,127   7.91%   7.91%
5     6                West Bengal  1,253,832  1,089,898   5.77%   5.77%
6     7                  Rajasthan  1,020,989    942,586   4.99%   4.99%
7     8             Andhra Pradesh    972,782    862,957   4.57%   4.57%
8     9                  Telangana    969,604    861,031   4.56%   4.56%
9    10             Madhya Pradesh    906,672    809,592   4.29%   4.29%
10   11                     Kerala          -    781,653   4.14%   4.14%
11   12                      Delhi    856,112    774,870   4.10%   4.10%
12   13                    Haryana    831,610    734,163   3.89%   3.89%
13   14                      Bihar    611,804    530,363   2.81%   2.81%
14   15                     Punjab    574,760    526,376   2.79%   2.79%
15   16                     Odisha    521,275    487,805   2.58%   2.58%
16   17                      Assam          -    315,881   1.67%   1.67%
17   18               Chhattisgarh    329,180    304,063   1.61%   1.61%
18   19                  Jharkhand    328,598    297,204   1.57%   1.57%
19   20                Uttarakhand          -    245,895   1.30%   1.30%
20   21            Jammu & Kashmir          -    155,956   0.83%   0.83%
21   22           Himachal Pradesh    165,472    153,845   0.81%   0.81%
22   23                        Goa     80,449     73,170   0.39%   0.39%
23   24                    Tripura     55,984     49,845   0.26%   0.26%
24   25                 Chandigarh          -     42,114   0.22%   0.22%
25   26                 Puducherry     38,253     34,433   0.18%   0.18%
26   27                  Meghalaya     36,572     33,481   0.18%   0.18%
27   28                     Sikkim     32,496     28,723   0.15%   0.15%
28   29                    Manipur     31,790     27,870   0.15%   0.15%
29   30                   Nagaland          -     27,283   0.14%   0.14%
30   31          Arunachal Pradesh          -     24,603   0.13%   0.13%
31   32                    Mizoram     26,503     22,287   0.12%   0.12%
32   33  Andaman & Nicobar Islands          -          -       -       -

## QUESTION 5

Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

In [31]:
driver=webdriver.Chrome("chromedriver.exe")
url='https://github.com/'
driver.get(url)

In [32]:
driver.find_element_by_xpath("//li[4][@class='d-block d-lg-flex flex-lg-nowrap flex-lg-items-center border-bottom border-lg-bottom-0 mr-0 mr-lg-3 edge-item-fix position-relative flex-wrap flex-justify-between d-flex flex-items-center ']/details/summary").click()
menu=driver.find_elements_by_xpath("//a[@class='py-2 lh-condensed-ultra d-block Link--secondary no-underline f5 Bump-link--hover']")
links=[]
for i in menu:
    links.append(i.get_attribute('href'))


driver.get(links[10])
soup = BeautifulSoup(driver.page_source,'lxml')
details = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
links_ele=[]
for i in details:
    links_ele.append(i.get_attribute('href'))

In [33]:
## creating empty lists for scraping data
Respository_title=[]
Respository_description=[]
Contributors_count=[]
Language_used=[]

In [34]:
dt=driver.find_elements_by_xpath("//span[@class='text-normal']")
for d in dt:
    if d.text is None:
        Respository_title.append("--")
    else:
        Respository_title.append(d.text)

In [35]:
dt=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for d in dt:
    if d.text is None:
        Respository_description.append("--")
    else:
        Respository_description.append(d.text)

In [36]:

dt=driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
for d in dt:
    if d.text is None:
        Contributors_count.append("--")
    else:
        Contributors_count.append(d.text)

In [37]:
dt=driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']")
for d in dt:
    if d.text is None:
        Language_used.append("--")
    else:
        Language_used.append(d.text)

In [38]:
import pandas as pd
table=pd.DataFrame({})

table['Respository_title']=Respository_title[:20]
table['Respository_description']=Respository_description[:20]
table['Contributors_count']=Contributors_count[:20]
table['Language_used']=Language_used[:20]

table

,Respository_title,Respository_description,Contributors_count,Language_used
0,peng-zhihui /,我的超迷你机械臂机器人项目。,"3,118",Python
1,xinntao /,Real-ESRGAN aims at developing Practical Algor...,369,C
2,ckosmic /,iOS port of https://github.com/sm64pc/sm64ex/,"4,152",JavaScript
3,ethereum /,Ethereum.org is a primary online resource for ...,360,JavaScript
4,WebDevSimplified /,Set up a personal VPN in the cloud,121,Python
5,trailofbits /,🚀 Free resources you may use to promote your n...,12,C
6,trekhleb /,A curated list of awesome actions to use on Gi...,"1,345",JavaScript
7,sdras /,我终于能用谷歌搜中文了……,"1,467",HTML
8,cobaltdisco /,Smart NFC & ink-Display Card,334,C
9,peng-zhihui /,Collection of publicly available IPTV channels...,125,C
10,iptv-org /,稚晖的个人站,"23,092",Go
11,peng-zhihui /,This project aims to bring back a productive w...,"1,916",Solidity
12,valinet /,This repository is a mirror of https://git.ope...,"1,075",C++
13,openwrt /,go-zero is a web and rpc framework written in ...,109,JavaScript
14,zeromicro /,The Ethereum Improvement Proposal repository,"15,732",Go
15,ethereum /,Bitcoin Core integration/staging tree,"1,003",JavaScript
16,bitcoin /,The open-source repo for docs.github.com,"4,032",Go
17,github /,"GoPlus - The Go+ language for engineering, STE...",157,Rust
18,goplus /,"Source code for Eat The Blocks, a screencast f...","5,718",Java
19,jklepatch /,"Implementation of the Filecoin protocol, writt...","1,384",Go

## QUESTION 6

Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [39]:
driver=webdriver.Chrome("chromedriver.exe")
url='https://www.billboard.com/'
driver.get(url)

In [40]:
delay = 10
WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//div[@class='sticky header__sticky']/div[2]/header/div/ul/li[1]/a")))
driver.find_element_by_xpath("//div[@class='sticky header__sticky']/div[2]/header/div/ul/li[1]/a").click()
driver.get(driver.find_element_by_xpath("//a[@class='charts-landing__link charts-landing__video--background']").get_attribute('href'))

In [41]:
# creating empty lists for scraping data
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_onboard=[]

In [42]:
dt=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for d in dt:
    if d.text is None:
        Song_name.append("--")
    else:
        Song_name.append(d.text)

In [43]:
dt=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for d in dt:
    if d.text is None:
        Artist_name.append("--")
    else:
        Artist_name.append(d.text)

In [44]:
dt=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for d in dt:
    if d.text is None:
        Last_week_rank.append("--")
    else:
        Last_week_rank.append(d.text)

In [45]:
dt=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for d in dt:
    if d.text is None:
        Peak_rank.append("--")
    else:
        Peak_rank.append(d.text)

In [46]:
dt=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for d in dt:
    if d.text is None:
        Weeks_onboard.append("--")
    else:
        Weeks_onboard.append(d.text)

In [47]:
import pandas as pd
table=pd.DataFrame({})

table['Song_name']=Song_name
table['Artist_name']=Artist_name
table['Last_week_rank']=Last_week_rank
table['Peak_rank']=Peak_rank
table['Weeks_onboard']=Weeks_onboard


table

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_onboard
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

## QUESTION 7

Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [48]:
import selenium
from selenium import webdriver 
import lxml
from bs4 import BeautifulSoup
import html5lib
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import TimeoutException

In [49]:
driver=webdriver.Chrome("chromedriver.exe")
url='https://www.naukri.com/'
driver.get(url)

In [50]:
delay = 10
WebDriverWait(driver,delay).until(expected_conditions.presence_of_element_located((By.XPATH,"//a[@title='Search Recruiters']")))
driver.get(driver.find_element_by_xpath("//a[@title='Search Recruiters']").get_attribute('href'))
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Scientist')
driver.find_element_by_id("qsbFormBtn").click()

In [51]:
#Creating empty list for scraping data
Name=[]
Designation=[]
Company=[]
Skill_hire=[]
Location=[]

In [52]:
#Name

dt=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for d in dt:
    Name.append(d.text)

In [53]:
#Designation

dt=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for d in dt:
    Designation.append(d.text)

In [54]:
#Company

dt=driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for d in dt:
    Company.append(d.text)

In [55]:
#Skill Hire

dt=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for d in dt:
    Skill_hire.append(d.text)

In [56]:
dt=driver.find_elements_by_xpath('//small[@class="ellipsis"]')
for d in dt:
    Location.append(d.text)

In [57]:
import pandas as pd
table=pd.DataFrame({})

table['Name']=Name[:49]
table['Designation']=Designation[:49]
table['Company']=Company[:49]
table['Skill_hire']=Skill_hire[:49]
table['Location']=Location[:49]

table

,Name,Designation,Company,Skill_hire,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers, Software Engineers, Quality Ass...",Noida
1,RecRoots,Senior Specialist,Wipro,"pig, hbase, sas, spss, apache, python, nosql, ...",Bengaluru / Bangalore
2,sashi bhushan,HR and Operation Manager,Anvaya,"Hadoop, Big Data, Data Scientists, Java, Sprin...",Bengaluru / Bangalore
3,Wipro,Head of Recruitment - Product &amp;...,A Leading of Product Start-UP Company,"Data Scientist, Big Data, Hadoop, Web Analytic...",Noida
4,Bitapi,Company HR,Digitially Insights Pvt Ltd,"Big Data Engineer, Data Scientist, Solutions, ...",Pune
5,Anvaya,Company HR,Invelopment,Scandinavian Startups,Ahmedabad
6,Gajendra Singh,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical, Business Development Executive, Sof...",Noida
7,A Leading of Product Start-UP Company,HR Business Partner,AM - TA &amp; HR,"Big Data technology, PLSQL, Web Developer, Jav...",Pune
8,Sadashiv Kulkarni,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS, VBA, Business Information Services(BIS), ...",Gurgaon
9,Digitially Insights Pvt Ltd,Recruitment Consultant,Sattva Staffing Solutions,"Data Scientist, Software Engineer, Graphic Des...",Mumbai Suburbs
10,Invelopment,Lead Talent Acquisition,Success Pact Consulting,"Amazon, Olacabs, Quikr, Bankbazzar, Uber, Flip...",Delhi
11,Invelopment,Manager - Talent Acquisition,R1RCM,"Asp.net, Hl7, Mirth, Perl, Xamarin, Javascript...",Chennai
12,Anjali Srivastava,Talent Evangelist www staffiohr co,Staffio HR,"Digital Marketing, General Manager, Business D...",Bengaluru / Bangalore
13,CodeFire Technologies Pvt. Ltd.,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer, Mean Stack, Business Ana...",Bengaluru / Bangalore
14,Helly Vyas,Recruitment Specialist,Redbus.in,"Business Analyst, Front end developer, legal, ...",Bengaluru / Bangalore
15,AM - TA &amp; HR,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Data Scientist, Cloud Computing, Mobile Applic...",Chennai
16,Ashish Verma,Sr HR,Confidential,"Data Analyst, Statistical Analysis, Data Scien...",Bengaluru / Bangalore
17,Evalueserve.com Private Limited,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python), pay per click,...",Coimbatore
18,DINESH S GURNASINGHANI,HR recruiter,Constalytics,"Data Scientist, Data Research Analyst, Big Dat...",Singapore - (singapore)
19,Sattva Staffing Solutions,Company Recruiter,Oportun,"Technical Solution Architect, Data Scientist, ...",Chennai
20,Bhuwneshari Devi,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer, Ui/ux Developer, Qa Engineer, ...",Noida
21,Success Pact Consulting,Senior IT Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js, Html, Front E...",Hyderabad / Secunderabad
22,Anoop Somarajan,Company Recruiter Vice President,Aaum Research and Analytics Private Limited,"Data Scientist, Developer, Ui, Accounting",Chennai
23,R1RCM,Talent Acquisition Specialist (Specialized...,Mount Talent consulting,"Leading MNCs, Product based organizations",Noida
24,HS Sandesh,Business Manager Delivery,Talent Management Labs Inc.,Amazon Walmart Adobe OLA Myntracom Komli Media...,Bengaluru / Bangalore
25,Staffio HR,Technical Recruiter,ValueLabs,"Big Data Analytics, Marketing Analytics, Full ...",Indore
26,Datafoundry,Senior Manager Recruitment,Fractal Analytics!!,"Analytics, Big Data, Hadoop, Python",Gurgaon
27,JAITRA SOFTWARE SOLUTIONS PVT LTD,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
28,A Valsa Florina,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
29,Redbus.in,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Deep Learning, Machine Learning, unstructured ...",Ghaziabad
30,Kalaivani M V,Co Founder &amp; Ceo,Data X,"Python, Machine Learning, Sql, Data Science",Bengaluru / Bangalore
31,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst, analytics, Decesion Scientis...",Noida
32,Prashant K,Sr Recruitment,Wonderwrks IT Services Private Limited,"IT Infrastructure Management, PHP, Wordpress, ...",Chennai
33,Confidential,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
34,Radhika,Chief marketing officer,Tuple Technologies Pte Ltd,"Data Science, Project Management, Backend",Mumbai
35,Bright Bridge Info-tech Pvt Ltd,General Manager,Reliance Industries,"Sap, Saas, Sql, Hadoop, Production Planning, B...",Bengaluru / Bangalore
36,Rakhi,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java, J2ee, Big Data, Machine Learning, D...",Pune
37,Constalytics,Founder,DataNnoviteSol LLP,Not Specified,Hyderabad / Secunderabad
38,Balaji Prabhakaran,Company Recruiter,Cyient Limited,Not Specified,Bengaluru / Bangalore
39,Oportun,Company HR,Terra Blue Exploration Technologies Pvt....,Not Specified,Delhi
40,Monika Jain,Company Recruiter,Quikkloan,Not Specified,Bengaluru / Bangalore
41,Info Edge India Limited,HR Executive,quantum value IT services,"Data Scientist, Tableau, R Tool, Data Analytic...",Hyderabad / Secunderabad
42,Trilok Nath,Data Scientist,asens labs,Not Specified,Pune
43,Molveno Consulting Private Limited,Data Scientist,Working As A Freelancer,Not Specified,Pune
44,Sridharan,CEO,SECRET TECHNOLOGIES INDIA (VMS Group),"Java, PHP, Web Development, Web Designing, Web...",Mumbai
45,Aaum Research and Analytics Private Limited,Talent Acquisition Executive,Purplejack Labs Pvt. Ltd.,"Node.js, React.js, Etl Testing, Data Warehousi...",Hyderabad / Secunderabad
46,Rashmi Kathuria,Recruitment Manager,Perex Engineering Pvt Ltd,"Software Development, Javascript, Core Java, J...",Bengaluru / Bangalore
47,Mount Talent consulting,Company HR,Quaero 3 India Ltd,"sql, Ui Development, ssis, Data Modeling, Data...",Hyderabad / Secunderabad
48,Vidya Rani Hadimani,Assistant Manager,GSPANN Technologies,"devops, build and release, Delivery Manager, O...",Bengaluru / Bangalore

## QUESTION 8

Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [59]:
def uci(url):
    driver=webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    time.sleep(3)
    link=[x.get_attribute('href') for x in driver.find_elements_by_xpath("//td/span[@class='whitetext']/a")]
    driver.get(link[4])
    time.sleep(3)
    name = [x.text for x in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td")]
    df = pd.DataFrame({})
    df["Dataset_name"]=name[0::7]
    df['Data_type']=name[1::7]
    df['Task']=name[2::7]
    df['Attribute_type']=name[3::7]
    df['No_of_instances']=name[4::7]
    df['No of attribute']=name[5::7]
    df['Year']=name[6::7]
    df.drop(labels=0,axis =0, inplace =True)
    driver.close()
    return(df)

uci('https://archive.ics.uci.edu/')

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No of attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

## QUESTION 9

Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [60]:
def series(url):
    driver=webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    name = [x.text for x in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")]
    year_span= [x.text for x in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")]
    genre = [x.text for x in driver.find_elements_by_xpath("//span[@class='genre']")]
    run_time = [x.text for x in driver.find_elements_by_xpath("//span[@class='runtime']")]
    ratings = [x.text for x in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")]
    votes = [x.text for x in driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[@name='nv']")]
    driver.close()
    df = pd.DataFrame({})
    df['name'] =name 
    df['year_span']=year_span 
    df['genre'] =genre 
    df['run_time'] = run_time
    df['ratings'] =ratings 
    df['votes'] =votes
    return(df)



series('https://www.imdb.com/list/ls095964455/')

,name,year_span,genre,run_time,ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,882,718"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"916,086"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"904,442"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,944"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,325"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,903"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,775"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,365"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,891"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"203,791"

## QUESTION 10

Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the Show All Dataset page through code.

In [61]:
def uci(url):
    driver=webdriver.Chrome("chromedriver.exe")
    driver.get(url)
    time.sleep(3)
    link=[x.get_attribute('href') for x in driver.find_elements_by_xpath("//td/span[@class='whitetext']/a")]
    driver.get(link[4])
    time.sleep(3)
    name = [x.text for x in driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td")]
    df = pd.DataFrame({})
    df["Dataset_name"]=name[0::7]
    df['Data_type']=name[1::7]
    df['Task']=name[2::7]
    df['Attribute_type']=name[3::7]
    df['No_of_instances']=name[4::7]
    df['No of attribute']=name[5::7]
    df['Year']=name[6::7]
    df.drop(labels=0,axis =0, inplace =True)
    driver.close()
    return(df)

uci('https://archive.ics.uci.edu/')

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No of attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
5,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
584,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
585,Gait Classification,Multivariate,Classification,Real,48,321,2020
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
588,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021